.master {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}
a.logo {
  color: #212121;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo span {
  color: #2196f3;
}

.foot p {
  color: #ffffff;
}
.web-navigate a {
  text-decoration: none;
}
.web-navigate a:hover,
a:focus {
  color: #2196f3;
}
.contact a.email,
.contact a.phone-number {
  color: #757575;
  text-decoration: none;
}
.contact a:hover,
a:focus {
  color: #2196f3;
}

.slogan {
  background-color: #2f303a;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
}
.slogan button {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.content h3 {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.content p {
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-job h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03;
}
.our-team {
  background-color: #f5f4fa;
}
.our-team li {
  background-color: #ffffff;
}
.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03;
}
.our-team h4 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03;
}
.our-team p {
  font-size: 16px;
  letter-spacing: 0.03;
  color: #757575;
}
.foot {
  background-color: #2f303a;
}

address a.headquarter,
address a.email,
address a.phone-number {
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
}
address a.email,
address a.phone-number {
  color: rgba(255, 255, 255, 0.6);
}
